#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

comment "NUCLEI_EVALSOC Configuration Options"

menu "NUCLEI_EVALSOC Peripheral Support"

# These "hidden" settings determine whether a peripheral option is available
# for the selected MCU

config NUCLEI_EVALSOC_HAVE_UART0
	bool
	default y
	select UART0_SERIALDRIVER
	select ARCH_HAVE_SERIAL_TERMIOS

# These are the peripheral selections proper

config NUCLEI_EVALSOC_UART0
	bool "UART0"
	default y
	select ARCH_HAVE_UART0
	select ARCH_HAVE_SERIAL_TERMIOS

endmenu
